// Text Colors
$pale-violet: hsl(276, 100%, 81%);
$pale-violet-transparent: hsla(276, 100%, 81%, 0.2);
$moderate-violet: hsl(276, 55%, 52%);
$desatured-dark-violet: hsl(271, 15%, 43%);
$grayish-blue: hsl(206, 6%, 79%);
$very-dark-desatured-violet: hsl(271, 36%, 24%);
$dark-grayish-violet: hsl(270, 7%, 64%);
// Gradient Colors
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);
// Secondary Colors
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 20%, 96%);
$very-dark-desatured-violet: hsl(271, 36%, 24%);
$very-light-magenta: hsl(289, 100%, 72%);